@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@300&display=swap");

@media screen and (min-width: 500px) {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  header > img {
    height: 100%;
    width: 15%;
  }

  .container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 15vh 45vh 30vh 10vh;
    grid-template-areas:
      "header header header"
      "menu noticias destaque"
      "servicos resultados resultados"
      "footer footer footer";
    gap: 10px 5px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0e3f6;
    grid-area: header;
    margin-bottom: 10px;
  }

  .menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear:left;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -16px;
  }

  h3 {
    background-color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    color: #307ecc;
    margin: 2px;
    border: 1px solid #d3d3d3; /* 2 pixels de largura, sÃ³lida e cor preta */
    padding: 3px;
  }

  .menu > ul > li > a {
    display: block;
    color: #307ecc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
  }

  .menu > ul > li > a:hover {
    background-color: #307ecc;
    color: white;
  }

  footer {
    display: flex;
    background-color: #d0e3f6;
    grid-area: footer;
    color: #0473e2;
    font-size: 12px;
    font-family: 'Roboto';
    margin-top: 10px;
    align-items: center; 
    justify-content: center;
  }

  .menu {
    background-color: #d0e3f6;
    grid-area: menu;
    padding: 5px;
  }

  .destaque {
    background-color: white;
    grid-area: destaque;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }

  .destaque > img {
    width: 100px;
    height: 100px; 
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 80px;
  }

  .noticias {
    background-color: #FFF;
    grid-area: noticias;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }

  .noticias > p {
    font-family: 'Roboto';
    font-size: 12px;
    margin-left: 30px;
  }

  .noticias > p > a {
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
    display: block;
    color: #307ecc;
  }

  .resultados {
    background-color: white;
    grid-area: resultados;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }

  .servicos {
    background-color: white;
    grid-area: servicos;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }
}

@media screen and (max-width: 500px){
  .container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 40vh 40vh 50vh 40vh 50vh 15vh;
    grid-template-areas:
      "header"
      "menu"
      "noticias"
      "destaque"
      "servicos" 
      "resultados"
      "footer";
    row-gap: 10px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0e3f6;
    grid-area: header;
  }

  header > img {
    height: 100%;
    width: 15%;
  }

  .menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear:left;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -16px;
  }

  h3 {
    background-color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    color: #307ecc;
    margin: 2px;
    border: 1px solid #d3d3d3; /* 2 pixels de largura, sÃ³lida e cor preta */
    padding: 3px;
  }

  .menu > ul > li > a {
    display: block;
    color: #307ecc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
  }

  .menu > ul > li > a:hover {
    background-color: #307ecc;
    color: white;
  }

  footer {
    display: flex;
    background-color: #d0e3f6;
    grid-area: footer;
    color: #307ecc;
    font-size: 12px;
    font-family: 'Roboto';
    margin-top: 10px;
    align-items: center; 
    justify-content: center;
  }

  .menu {
    background-color: #d0e3f6;
    grid-area: menu;
  }

  .destaque {
    background-color: white;
    grid-area: destaque;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }

  .destaque > img {
    width: 100px;
    height: 100px; 
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 80px;
  }

  .noticias {
    background-color: #FFF;
    grid-area: noticias;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }

  .noticias > p {
    font-family: 'Roboto';
    font-size: 12px;
    margin-left: 30px;
  }

  .noticias > p > a {
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
    display: block;
    color: #307ecc;
  }

  .resultados {
    background-color: #FFF;
    grid-area: resultados;
    border: 1px solid #d3d3d3; 
    padding: 5px; 
  }

  .servicos {
    background-color: white;
    grid-area: servicos;
    border: 1px solid #d3d3d3; 
    padding: 5px;
  }
}