<!-- trabalho3.component.html -->
<div id="geral">
<h2>Informações Pessoais</h2>
<p>Nome: Marecelo</p>
<p>Sobre Nome: da Silva Cruz/p>
<p>E-Mail: </p>
<p>Telefone: (73) 99177-5467</p>
<p>Endereço: Local: Brasil, BA, Ilhéus</p>
<p>
  LinkedIn:
  <a href="https://www.linkedin.com/in/marcelodasilvacruz/">linkedin.com/in/Marcelosilvacruz</a>
</p>
<p><a href="portifolio.html">Meu Portfólio</a></p>

<h2>Carta de Apresentação</h2>
<p>Experiências acadêmicas e profissionais...</p>
<p>Como posso contribuir com a empresa...</p>
<p>Despedida e assinatura...</p>

<h2>Carta de Apresentação - Desenvolvedor Web</h2>

<p>Prezado(a) Recrutador(a),</p>
        <p>Sou um desenvolvedor web apaixonado por criar soluções inovadoras e funcionais. Possuo uma sólida formação acadêmica em Analise e Desenvolvimento em Sistema de Informação e experiência prática em Liguagens de Programação, Analise de Dados em Power BI e outros.</p>
        <p>Estou entusiasmado para contribuir com minha experiência em linguagem de programação e analise de dados, trazendo soluções eficientes para os desafios da empresa UESC.</p>
        <p>Encaminho meu currículo para sua consideração e estou à disposição para discutir como posso agregar valor à equipe. Agradeço a oportunidade e aguardo ansiosamente a possibilidade de uma entrevista.</p>
        

<h2>Educação</h2>
<p>Faculdade Uninter</p>
<p>Análise e Desenvolvimento de Sistemas</p>
<p>
  Curso que aborda planejamento, auditoria, alinhamento estratégico,
  segurança e risco, qualidade, gerência de projetos e gestão de processos
  de negócio de sistemas de informação. Também inclui gestão de tecnologia
  da informação, infraestrutura de tecnologia da informação, inovação e
  novas tecnologias aplicadas a sistemas de informação.
</p>

<h2>Linguagens de Programação</h2>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>Java</li>
  <li>C#</li>
  <li>Python</li>
  <li>JavaScript</li>
</ul>
<h2>Banco de Dados</h2>
<ul>
  <li>MySQL</li>
  <li>SQL Server</li>
</ul>
<h2>Graficos</h2>
<ul>
  <li>WordPress</li>
  <li>Photoshop</li>
  <li>Illustrator</li>
</ul>
<h2>Diversos</h2>
<ul>
  <li>Power BI</li>
  <li>Access</li>
  <li>Excel</li>
  <li>Word</li>
  <li>PowerPoint</li>
  <li>Outros</li>
</ul>


<!-- Adicione o restante do conteúdo conforme necessário -->

<p>Atenciosamente,</p>
<p>Marcelo da Silva Cruz</p>

<footer>
  <p>&copy; 2023 Marcelo da Silva Cruz - Desenvolvedor Web</p>
</footer>

</div>
